a:link{
    text-decoration: none;
}
a:hover{
    color: rgb(55, 255, 0);
}
body{
    background-image: url('/photos.we/backgroud.png.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}

table{
    border: 5px solid rgb(255, 0, 0);
border-collapse:collapse ;
background-image: backgroudpngjpg;
}